proxy:
  controllers:
    proxy:
      strategy: Recreate
      containers:
        main:
          image:
            repository: ghcr.io/tylerobara/proxy
            tag: 'main'
            pullPolicy: IfNotPresent

  service:
    proxy:
      controller: proxy
      ports:
        http:
          port: 5000

  ingress:
    proxy:
      className: "traefik"
      hosts:
        - host: proxy.cloud.obara.xyz
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: proxy
                port: http

