database:
  image:
    registry: ghcr.io
    repository: cloudnative-pg/postgresql
    tag: 18

  clusterName: authentik
  logLevel: error
  replicas: 1
  size: 4Gi
  storageClass: longhorn

  monitoring:
    enabled: false

  backups:
    enabled: false
    secretName: ''
    retention: ''
    path: ''
    endpoint: ''

  topologySpreadConstraints:

externalSecrets:
  secretStoreRef:
    name: oracle-cluster-secret-store
    kind: ClusterSecretStore
  target:
    name: authentik-secrets
  data:
  - secretKey: username
    remoteRef:
      key: default/authentik
      property: db_username
  - secretKey: password
    remoteRef:
      key: default/authentik
      property: db_password
  - secretKey: secret_key
    remoteRef:
      key: default/authentik
      property: secret_key

authentik:
  authentik:
    error_reporting:
      enabled: false

  server:
    env:
      - name: AUTHENTIK_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: authentik-secrets
            key: secret_key
      - name: AUTHENTIK_POSTGRESQL__HOST
        valueFrom:
          secretKeyRef:
            name: authentik-app
            key: host
      - name: AUTHENTIK_POSTGRESQL__USER
        valueFrom:
          secretKeyRef:
            name: authentik-app
            key: user
      - name: AUTHENTIK_POSTGRESQL__PASSWORD
        valueFrom:
          secretKeyRef:
            name: authentik-app
            key: password
      - name: AUTHENTIK_POSTGRESQL__PORT
        value: "5432"
      - name: AUTHENTIK_POSTGRESQL__NAME
        value: "authentik"

    ingress:
      ingressClassName: "traefik"
      enabled: true
      hosts:
        - auth.cloud.obara.xyz

  worker:
    env:
      - name: AUTHENTIK_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: authentik-secrets
            key: secret_key
      - name: AUTHENTIK_POSTGRESQL__HOST
        valueFrom:
          secretKeyRef:
            name: authentik-app
            key: host
      - name: AUTHENTIK_POSTGRESQL__USER
        valueFrom:
          secretKeyRef:
            name: authentik-app
            key: user
      - name: AUTHENTIK_POSTGRESQL__PASSWORD
        valueFrom:
          secretKeyRef:
            name: authentik-app
            key: password
      - name: AUTHENTIK_POSTGRESQL__PORT
        value: "5432"
      - name: AUTHENTIK_POSTGRESQL__NAME
        value: "authentik"

  postgresql:
    enabled: false

