database:
  image:
    registry: ghcr.io
    repository: cloudnative-pg/postgresql
    tag: 18

  clusterName: testing
  logLevel: error
  replicas: 1
  size: 100Mi

  monitoring:
    enabled: false

  backups:
    enabled: false
    secretName: ''
    retention: ''
    path: ''
    endpoint: ''

  topologySpreadConstraints:
