database:
  image:
    registry: ghcr.io
    repository: cloudnative-pg/postgresql
    tag: 17

  clusterName: piped
  logLevel: error
  replicas: 1
  storageClass: "local-path"
  size: 5Gi

  monitoring:
    enabled: false

  backups:
    enabled: false
    secretName: ''
    retention: ''
    path: ''
    endpoint: ''

  topologySpreadConstraints:

piped:
  controller:
    enabled: false

  serviceAccount:
    create: false

  frontend:
    env:
      BACKEND_HOSTNAME: pipedapi.cloud.obara.xyz

  backend:
    enabled: true
    service:
      main:
        enabled: true
        primary: true
        type: ClusterIP
        ports:
          http:
            enabled: true
            primary: true
            port: 8080
            protocol: HTTP

    config:
      database:
        connection_url: jdbc:postgresql://piped-rw.default.svc.cluster.local/piped
        secret:
          name: piped-app
          username: username
          password: password


    image:
      # -- image repository
      repository: 1337kavin/piped
      # -- image tag
      # @chart.appVersion
      tag: "latest@sha256:1f38b992ce02a50afddbbf68be1ac11cff6953d36fd8fa2b98c08a19f8ef06e7"  # Manifest index / Index Digest
      # -- image pull policy
      pullPolicy: IfNotPresent

    # resources:
    #  requests:
    #    memory: 500Mi
    #  limits:
    #    memory: 1500Mi

  ingress:
    main:
      enabled: true
      ingressClassName: traefik
      primary: true
      hosts:
        - host: piped.cloud.obara.xyz
          paths:
            - path: "/"

    backend:
      enabled: true
      ingressClassName: traefik
      primary: false
      hosts:
        - host: pipedapi.cloud.obara.xyz
          paths:
            - path: "/"

    ytproxy:
      enabled: true
      ingressClassName: traefik
      primary: false
      hosts:
        - host: ytproxy.cloud.obara.xyz
          paths:
            - path: "/"
